@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');


#brandName{
  font-family: 'Playball', cursive;
  font-size: 40px;
  color: black;
}
#searchImg{
  height: 10px;
}


/* #searchBar{
  display: flex;
  border-radius: 200%;
  height: 50px;
  width: 50px;
  background-image: url("https://cdn-icons-png.flaticon.com/128/2089/2089805.png");
  background-size: 55px 50px;
  background-repeat: no-repeat;
  border: none;
}
#searchBar:hover{
  height: 50px;
  width: 500px;
  border-radius: 0;
  background-image: none;
  border: 2px solid black;
  place-content: "Search...";
} */

#searchBar{
  width: 100vw;
}
.hidden {
  display: none;
}