

#searchBar{
  display: flex;
  border-radius: 200%;
  height: 50px;
  width: 50px;
  background-image: url("https://cdn-icons-png.flaticon.com/128/3128/3128287.png");
  background-size: 40px 50px;
  background-repeat: no-repeat;
  border: none;
}
#searchBar:hover{
  height: 50px;
  width: 500px;
  border-radius: 0;
  background-image: none;
  border: 2px solid black;
  place-content: "Search...";
}
.hidden {
  display: none;
}